/* Select all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
header {
    display: inline-flex;
    justify-content: space-between;
    background-color:black;
}

/* main, footer */
main, footer {
    min-width: 100%;
}
.menu-list{
    display: inline-flex;
    list-style: none;
}
.logo {
    width: 5em;
}
table{
    border: 3px solid black;
    border-collapse: collapse;
}
th, td {
    border: 2px solid black;
    text-align: center;
}